/* .modal-overlay img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .modal-overlay div#img-users{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
  }

div.container-btn-edit{
    position: absolute; 
    top: 50%; 
    right: 1%; 
    transform: translateY(-50%); 
    z-index: 10;
  }
   */